<div class="row p_flex">
    <div class="col-2 p_left">
        <!-- wicked pdf unable to render https links -->
        <% if @resume.photo_url.to_s[4] = "s" %>
            <% photo = @resume.photo_url.to_s[0..3] + @resume.photo_url.to_s[5..-1]  %>
        <% else %>
            <% photo = @resume.photo_url.to_s %>
        <% end %>
        <% if @pdf %>
            <%= wicked_pdf_image_tag photo, size:"200x200", class:"" %>
        <% else %>
            <%= image_tag photo, size:"", class:"rounded w-100" %>
        <% end %>
    </div>
    <div class="col-10 p_right">
        <table>
            <tr>
                <td>Full Name</td>
                <td><%= @resume.name if @resume.name %></td>
            </tr>
            <tr>
                <td>Contact Number</td>
                <td><%= @resume.phone if @resume.phone %></td>
            </tr>
            <tr>
                <td>Residential Address</td>
                <td><%= @resume.address if @resume.address %></td>
            </tr>
        </table>

    </div>
</div>

<div class="p_content">
    <br><hr>
    <div>
        <h4>About Me</h4>
        <%= @resume.description if @resume.description %>
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, omnis labore ad inventore eligendi saepe eum, ducimus voluptates, facilis nostrum odio totam? Inventore dicta neque porro, possimus soluta error quam.
    </div>
    <br><br>
    <h4>Resume Objective</h4>
    <%= @resume.objective if @resume.objective %>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vitae dolorum, voluptas deserunt quod distinctio quae minus molestiae ad nemo repudiandae natus voluptatibus assumenda recusandae. Dolorum repudiandae recusandae tempora earum.

    <br><br>
    <div>
        <h4>My Experience</h4>
        <%= @resume.experience if @resume.experience %>
        <br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, repellendus et quod veniam repellat nulla sint deleniti ullam delectus atque aut, quasi non, architecto voluptatibus aliquam odio. Eaque, voluptatem eos!
    </div>
    <br><br>
    <% i = 0 %>
    <% while i < 40 do %>
        
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi odio ipsa commodi ducimus perferendis quas earum accusamus tempora, possimus amet explicabo mollitia nisi accusantium asperiores magni doloremque blanditiis cumque cupiditate!
        <br>
    <% i += 1 %>
    <% end %>
</div>