<div class="w-75 m-auto">
    <nav class="text-right">
        <%= link_to 'Email Resume', download_path(@resume.id), method: :post,class:"btn btn-primary text-white" %>
        <%= link_to 'Edit', edit_resume_path(@resume), class:"btn btn-primary text-white" %>
        <%= link_to 'Back', resumes_path, class:"btn btn-primary text-white" %>
        <%= link_to 'Print Resume', resume_path(format: "pdf"), class:"btn btn-primary text-white", target:"blank" %>
        <br><br><hr>
    </nav>
    
   <%= render partial: "resumes/content" %>

</div>